html {
    font-size: 156.25%;
}

.career-cloud {
    font-size: 2rem;
    color: $cSky;
    position: absolute;
    left: -33px;
}

.header {
    padding: 0.7rem 2.5rem;
}

.hero {
    & > h1 {
        font-size: 3.8rem;
    }

    &::before {
        bottom: -20px;
    }
}