html {
    font-size: 125%;
}

.content-width {
    padding: 5rem 9%;
}

.career-cloud {
    font-size: 2rem;
    color: $cSky;
    position: absolute;
    left: -25px;
}

.logo {
    font-size: 1.7rem;
}

.header {
    padding: .8rem 2.5rem;

    &__nav {
        display: block;
    }

    &__li {
        & > a {
            font-size: 1.3rem;
        }
    }
}

.hero {
    & > h1 {
        font-size: 3.5rem;
    }
}

.about {
    &__main {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    &__my-skills {
        flex-grow: 1;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__li {
        padding-top: 0;
        padding-bottom: 5.2rem;
    }
}

.mobile-menu {
    &__btn {
        display: none;
    }
}

@keyframes kf-cloud-up {
	0% {
		opacity: 0;
		transform: translateY(60%);
	}
	100% {
		opacity: 1;
		transform: translateY(-4rem);
	}
}

.portfolio { 
    &__inner {
        flex-direction: row;
    }
}