.animate-title {
	opacity: 0;

	& > span {
		display: inline-block;
		opacity: 0;
	}

	&.inview {
		opacity: 1;

		& > span {
			opacity: 1;
		}
	}
}


.title-up {
	@extend .animate-title;

	&.inview {
		& > span {
			@include animation(
				$name: kf-cloud-up,
				$duration: 1.5s,
				$timing-function: cubic-bezier(0, 1.02, 0.99, -0.03),
				$fill-mode: both
			);

			@for $i from 1 through 27 {
				&:nth-child(#{$i}) {
					animation-delay: $i * 0.03s;
				}
			}
		}
	}
}

@keyframes kf-cloud-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(-10rem);
	}
}

.title-down {
	@extend .animate-title;

	&.inview {
		& > span {
			@include animation(
				$name: kf-cloud-down,
				$duration: 1s,
				$timing-function: cubic-bezier(0.86, 0.18, 0, 1.03),
				$fill-mode: both
			);

			@for $i from 1 through 27 {
				&:nth-child(#{$i}) {
					animation-delay: $i * 0.1s;
				}
			}
		}
	}
}

@keyframes kf-cloud-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(none);
	}
}