$cBlack: #000000;
$cWhite: #ffffff;
$cFont: #565656;
$cBgColor: #e7e7e7;
$cMobileBgColor: #126393;
$cSun: #ffb300;
$cCloud: #edebe4;
$cSky: #1fabff;
$cOpaSky: #1998e4c2;
$cScrollBar: rgba(237, 235, 228, 0.8);