@import 'modules/variables';
@import 'modules/mixin';

.pace-done {
	& > #global-container {
		transition: opacity 1s;
		opacity: 1;
	}
}

#global-container {
	opacity: 0;
}

.pace {
	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
}

.pace .pace-progress {
	transform: none !important;
	text-align: center;
	position: relative;
	z-index: 0;
}

.pace .pace-progress::after {
	content: attr(data-progress-text);
	font-weight: 100;
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: $cSky;
	position: relative;
    top: -25px;
}

.pace.pace-inactive {
	display: none;
}

.pace-progress-inner {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-image: url('../images/loader-img.png');
	background-size: cover;
	background-position: center;

	@include animation(
		$name: kf-loader-cloud, 
		$duration: 1s, 
		$iteration-count: infinite, 
		$fill-mode: both
	);
}

@keyframes kf-loader-cloud {
	0% {
		transform: translateY(-5px);
	}

	50% {
		transform: none;
	}

	100% {
		transform: translateY(-5px);
	}
}