@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
.mobile-menu__btn {
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__btn > span {
  display: block;
  background-color: #edebe4;
  width: 35px;
  height: 3px;
  margin-bottom: 7px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile-menu__btn > span:nth-child(3) {
  margin-bottom: 0;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(315deg);
          transform: translateY(10px) rotate(315deg);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: translateX(-17px) scale(0);
          transform: translateX(-17px) scale(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.menu-open > #container {
  -webkit-transform: translate(-250px, 67px);
          transform: translate(-250px, 67px);
}

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.logo {
  font-size: 2.5rem;
}

.logo > span {
  color: #edebe4;
}

.logo > i {
  color: #ffef00;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  z-index: 100;
  background-color: #1fabff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li {
  list-style: none;
}

.header__li > a {
  color: #edebe4;
  font-size: 2rem;
  margin: 0 1rem;
}

@media (min-width: 960px) {
  html {
    font-size: 75%;
  }
  .header {
    padding: 1.5rem 9%;
  }
  .header__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
}
